/* CSS Document */
body{
	background-color:grey;
	font-family:"calibri";
	font-size:12px;
	color:grey;
}

#main{
	margin:0 auto;
	margin-top:80px;
	width:480px;
}

.clearer{
	clear:both;
	float:none;
}

#header{
	background-color:white;
	padding:15px;
	padding-left:30px;
	padding-top:20px;
	height:50px;
	border:1px;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-topright:7px;
	font-size : 30px;
	text-align:center;
	color:black;
	text-decoration:underline;
}

#footer{
	
	padding:18px;
	text-align:center;
	color:white;
	font-size:25px;
}

#middle{
	
	padding:15px;
	padding-left:95px;
	padding-top:20px;
}

#vertical_effect{
	height:80px;
	margin-top:2px;
}

#form-login{
	margin:0;
}

#input{
	background-color:white;
	background-image:url(images/images_login/bg_login_input.gif);
	padding:7px;
	padding-bottom:8px;
	padding-top:8px;
	font-family:Verdana;
	font-size:12px;
	color:yellow;	
	border:1px solid #2b2448;
	-moz-border-radius:3px;
	font-weight:bold
}

#input:focus{
	border:3px solid #2a2443;
	margin-left:-2px;
	-moz-border-radius:5px;
}

#submit{
	margin-top:4px; margin-left:41px; margin-bottom:7px; margin-right:2px;
}

.img_user{
	margin-right:3px; margin-bottom:4px; 
}

.img_pass{
	margin-right:4px; margin-left:2px; margin-bottom:6px; margin-top:1px;
}
.img_lock{
	margin-right:4px; margin-bottom:3px; margin-left:4px; 
}

a.forgot{
	color:#FFFFFF;
	text-decoration:none;
}

a.forgot:hover{
	color:#4b4d77;
}

/* Error Login */
#error_login{
	margin-left:60px;
	padding:15px;
	padding-bottom:15px;
	font-family:Tahoma;
	font-weight:bold;
	padding-top:11px;
	-moz-border-radius:4px;
}

a.clickhere{
	color:#fcfa5f;
	text-decoration:none;
}

a.clickhere:hover{
	color:#4b4d77;
}
tombol{
	background-color:white;
	padding-left:50px;
	padding-right:50px;
}